USE [master]
GO
/****** Object:  Database [TruongTHPT]    Script Date: 14/11/2016 9:09:57 PM ******/
CREATE DATABASE [TruongTHPT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TruongTHPT', FILENAME = N'E:\sql\THPT\TruongTHPT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TruongTHPT_log', FILENAME = N'E:\sql\THPT\TruongTHPT_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TruongTHPT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TruongTHPT]
GO
/****** Object:  StoredProcedure [dbo].[suaGiaoVien]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[suaGiaoVien] (@MaGV nchar(10),@HoTen nvarchar(50),@GT nchar(3),@NgaySinh date,@DiaChi nvarchar(50),@SDT int,@Luong int,@MaMon nchar(10))
	-- Add the parameters for the stored procedure her
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	UPDATE tblGiaoVien SET MaGV = @MaGV, HoTen=@HoTen, GT = @GT, NgaySinh=@NgaySinh, DiaChi = @DiaChi, SDT = @SDT, Luong=@Luong, MaMon=@MaMon
						   WHERE MaGV = @MaGV 
    -- Insert statements for procedure here
	--SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>
END



GO
/****** Object:  StoredProcedure [dbo].[themGiaoVien]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[themGiaoVien] (@MaGV nchar(10),@HoTen nvarchar(50),@GT nchar(3),@NgaySinh date,@DiaChi nvarchar(50),@SDT int,@Luong int,@MaMon nchar(10))
	-- Add the parameters for the stored procedure her
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	INSERT INTO tblGiaoVien(MaGV, HoTen, GT, NgaySinh, DiaChi, SDT, Luong, MaMon)
    VALUES(@MaGV, @HoTen, @GT, @NgaySinh, @DiaChi, @SDT, @Luong, @MaMon)
    -- Insert statements for procedure here
	--SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>
END

GO
/****** Object:  StoredProcedure [dbo].[xoaGiaoVien]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[xoaGiaoVien] (@MaGV nchar(10))
	-- Add the parameters for the stored procedure her
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.	
	DELETE FROM tblGiaoVien WHERE MaGV = @MaGV
	DELETE FROM tblLop WHERE GVCN=@MaGV 
	DELETE FROM tblHocSinh WHERE tblHocSinh.MaLop=(SELECT MaLop FROM tblLop WHERE GVCN=@MaGV)
    -- Insert statements for procedure here
	--SELECT <@Param1, sysname, @p1>, <@Param2, sysname, @p2>
END


GO
/****** Object:  Table [dbo].[tblGiaoVien]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiaoVien](
	[MaGV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GT] [nchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[Luong] [bigint] NULL,
	[MaMon] [nchar](10) NULL,
 CONSTRAINT [PK_tblGiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHocSinh]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHocSinh](
	[MaHS] [nchar](10) NOT NULL,
	[HovaTen] [nvarchar](50) NOT NULL,
	[GT] [nchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[PhuHuynh] [nvarchar](50) NULL,
	[MaLop] [nchar](10) NULL,
	[QueQuan] [nchar](50) NULL,
 CONSTRAINT [PK_tblHocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[Username] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](50) NOT NULL,
	[UuTien] [int] NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLop]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLop](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nchar](10) NOT NULL,
	[GVCN] [nchar](10) NULL,
 CONSTRAINT [PK_tblLop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMonHoc]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonHoc](
	[MaMon] [nchar](10) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[SoTiet/tuan] [int] NULL,
 CONSTRAINT [PK_tblMonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTTGD]    Script Date: 14/11/2016 9:09:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTTGD](
	[HoTen] [nvarchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[TenLop] [nchar](10) NULL,
 CONSTRAINT [PK_tblTTGD] PRIMARY KEY CLUSTERED 
(
	[HoTen] ASC,
	[TenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblGiaoVien] ([MaGV], [HoTen], [GT], [NgaySinh], [DiaChi], [SDT], [Luong], [MaMon]) VALUES (N'GV00000001', N'Bùi Thu Lâm', N'Nam', CAST(0xC3150B00 AS Date), N'Nghệ An', NULL, NULL, N'MH02      ')
INSERT [dbo].[tblGiaoVien] ([MaGV], [HoTen], [GT], [NgaySinh], [DiaChi], [SDT], [Luong], [MaMon]) VALUES (N'GV00000002', N'Nguyễn Hoàng Long', N'Nam', CAST(0xC3150B00 AS Date), N'Hải Phòng', NULL, NULL, N'MH05      ')
INSERT [dbo].[tblGiaoVien] ([MaGV], [HoTen], [GT], [NgaySinh], [DiaChi], [SDT], [Luong], [MaMon]) VALUES (N'GV00000003', N'Tống Minh Đức', N'Nam', CAST(0xC3150B00 AS Date), N'Thanh Hóa', NULL, NULL, N'MH01      ')
INSERT [dbo].[tblHocSinh] ([MaHS], [HovaTen], [GT], [NgaySinh], [DiaChi], [PhuHuynh], [MaLop], [QueQuan]) VALUES (N'HS00000001', N'Nguyễn Văn Tuấn Anh', N'Nam', NULL, NULL, NULL, N'LOP0000001', NULL)
INSERT [dbo].[tblHocSinh] ([MaHS], [HovaTen], [GT], [NgaySinh], [DiaChi], [PhuHuynh], [MaLop], [QueQuan]) VALUES (N'HS00000002', N'Phạm Ngọc Anh', N'Nam', NULL, NULL, NULL, N'LOP0000009', NULL)
INSERT [dbo].[tblHocSinh] ([MaHS], [HovaTen], [GT], [NgaySinh], [DiaChi], [PhuHuynh], [MaLop], [QueQuan]) VALUES (N'HS00000003', N'Nguyễn Thế Công', N'Nam', NULL, NULL, NULL, N'LOP0000005', NULL)
INSERT [dbo].[tblLogin] ([Username], [Pass], [UuTien]) VALUES (N'admin2', N'admin2', 0)
INSERT [dbo].[tblLogin] ([Username], [Pass], [UuTien]) VALUES (N'admin3', N'admin3', 1)
INSERT [dbo].[tblLogin] ([Username], [Pass], [UuTien]) VALUES (N'admin4', N'admin4', 0)
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'LOP0000001', N'10A       ', N'GV00000001')
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'LOP0000002', N'10B       ', N'GV00000006')
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'LOP0000003', N'10C       ', N'GV00000004')
INSERT [dbo].[tblMonHoc] ([MaMon], [TenMon], [SoTiet/tuan]) VALUES (N'MH01      ', N'Toán', NULL)
INSERT [dbo].[tblMonHoc] ([MaMon], [TenMon], [SoTiet/tuan]) VALUES (N'MH02      ', N'Vật Lý', NULL)
INSERT [dbo].[tblMonHoc] ([MaMon], [TenMon], [SoTiet/tuan]) VALUES (N'MH03      ', N'Hóa Học', NULL)
INSERT [dbo].[tblTTGD] ([HoTen], [TenMon], [TenLop]) VALUES (N'Bùi Thu Lâm', N'Vật Lý', N'10B       ')
INSERT [dbo].[tblTTGD] ([HoTen], [TenMon], [TenLop]) VALUES (N'Nguyễn Hoàng Long', N'Toán', N'10C       ')
ALTER TABLE [dbo].[tblLogin] ADD  CONSTRAINT [DF_tblLogin_UuTien]  DEFAULT ((0)) FOR [UuTien]
GO
ALTER TABLE [dbo].[tblGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_tblGiaoVien_tblMonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[tblMonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[tblGiaoVien] CHECK CONSTRAINT [FK_tblGiaoVien_tblMonHoc]
GO
ALTER TABLE [dbo].[tblHocSinh]  WITH CHECK ADD  CONSTRAINT [FK_tblHocSinh_tblLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[tblLop] ([MaLop])
GO
ALTER TABLE [dbo].[tblHocSinh] CHECK CONSTRAINT [FK_tblHocSinh_tblLop]
GO
ALTER TABLE [dbo].[tblLop]  WITH CHECK ADD  CONSTRAINT [FK_tblLop_tblGiaoVien] FOREIGN KEY([GVCN])
REFERENCES [dbo].[tblGiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[tblLop] CHECK CONSTRAINT [FK_tblLop_tblGiaoVien]
GO
USE [master]
GO
